/*.bgcolor {
    background: #f7f9fd;
  }
  
  ion-col {
    border: 2px solid #B2F699;
  }*/
  .cell-class {
  border-color: lightblue; 
  border-width: .01em; 
  border-bottom-style: solid;  margin-bottom : -1px;
  //border-style:solid; 
  
  //background-color: lightskyblue
}