<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="home()">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
    </ion-button><ion-title>{{ selectedSection.id }} : {{ selectedSection.name }} </ion-title>
    <ion-button slot="end" (click)="presentPopover($event)">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-card *ngFor="let item of actList; let i = index;">
      <ion-item lines="none"> 
        <ion-avatar slot="start">
          <img src="./assets/img/calendar.png">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h3>Slot {{ item.topicNo}}: <span *ngIf="item.continueFlg != ''">
            ({{ item.continueFlg}})</span> {{ item.topicName}}</h3>
          <!-- <h3>{{item.startTime| date : "dd/MM/yyyy"}} :{{item.startTime| date : "HH:mm a" : 0}} - {{item.endTime| date : "HH:mm a" : 0}}</h3> -->
          <p>{{item.startTime| date : "dd/MM/yyyy"}} :{{item.startTime| date : "HH:mm a" : 0}} - {{item.endTime| date : "HH:mm a" : 0}}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <div ng-app init="item = {sideActID: ''}">
            <div ng-if="item.sideActID"></div>
            <div ng-if="!item.sideActID">
              <div *ngFor="let item of lectList; let i = index">
                <ion-grid>
                  <ion-row  text-center class="cell-class">
                    <ion-col>
                      <div><small>{{i+1}}</small> </div>
                    </ion-col>
                    <ion-col size="8">
                      <div><small>{{ item.lec }}</small></div>
                    </ion-col>
                    <ion-col>
                      <div>
                        <ion-badge color="danger" item-end  *ngIf ="item.status=='0'"><small class="ion-text-wrap" >Belum </small> </ion-badge>
                        <ion-badge color="success" item-end  *ngIf ="item.status=='1'"><small class="ion-text-wrap">Selesai </small> </ion-badge>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>             
              </div>
            </div>               
          </div>   
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-list>
      <ion-item no-lines>       
        <ion-button color="light" slot="end" ion-button round outline (click)="submit()">
           Seterusnya
           <ion-icon name="play-outline"></ion-icon>         
        </ion-button>
      </ion-item>
    </ion-list>
  </form> 
</ion-content>
