<ion-header>
  <ion-toolbar>
    <ion-title>Status Penilaian</ion-title>
    <ion-button slot="end" (click)="logOut()">
      <ion-icon name="log-out" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- <p *ngFor="let item of userList">
      Welcome {{ item.username }} {{ item.password }}
  </p> -->

  <ion-list *ngFor="let item of scheduleList">
    <ion-item *ngIf="item.status !='2'" >
      <ion-avatar slot="start">
        <img src="./assets/img/avatar.png">
      </ion-avatar>
      <ion-label>
        <h3> {{ item.scheduleName }} </h3>
        <p> {{ item.startDt }} - {{ item.endDt }}</p>
        <p> {{ item.penyelarasName }} / {{ item.urusetiaName}}</p>
      </ion-label>
      <ion-badge color="danger" slot="end" (click)="toSection()" *ngIf ="item.status=='0'"><small>Buat Penilaian</small></ion-badge>
      <ion-badge color="warning" slot="end" (click)="toSection()" *ngIf ="item.status=='1'"><small>Belum Selesai</small></ion-badge>
    </ion-item>   
  </ion-list>
</ion-content>