<ion-list *ngFor="let item of sectionList" >
  <ion-item (click)="goToSection(item.valTopicID, item.valTopicName)">
    <ion-label >
      <h3><ion-label color="primary" >Seksyen {{item.valTopicID}}</ion-label></h3>
      <small class="ion-text-wrap"> {{item.valTopicName}}</small>
    </ion-label>
  </ion-item>
</ion-list>