<ion-header>
  <ion-toolbar>
    <ion-title>Penilaian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label color="primary">Objektif Kursus</ion-label>
    </ion-list-header>
  <ion-item>
  <ion-label>Objektif 1</ion-label>
    <ion-range step-labels="[TB, 1, 2, 3, 4, 5, 6, 7]" max="7" value="7" snaps="true" ticks="true"  pin="true" color="secondary">
      <ion-icon size="small" slot="start" name="happy-outline"></ion-icon>
      <ion-icon slot="end" name="happy-outline"></ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
  <ion-label>Objektif 2</ion-label>
    <ion-select interface="popover" value="7">
      <ion-select-option value="TB">Tidak Berkaitan</ion-select-option>
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Objektif 3</ion-label>
      <ion-select interface="popover" value="7">
        <ion-select-option value="TB">Tidak Berkaitan</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
      </ion-select>
      </ion-item>
</ion-list>
<ion-list>
  <ion-list-header>
    <ion-label color="primary">Pengetahuan, Kemahiran dan Keupayaan</ion-label>
  </ion-list-header>
</ion-list>
<!--ion-list>
  <ion-note slot="end">Pengetahuan anda yang berkaitan dengan kursus ini</ion-note>
</ion-list-->
<ion-item>
<ion-label >Sebelum </ion-label>
<ion-select  interface="popover" placeholder="Pilih satu">
      <ion-select-option value="TB">Tidak Berkaitan</ion-select-option>
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7" selected>7</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Selepas </ion-label>
      <ion-select interface="popover" value="7">
        <ion-select-option value="TB">Tidak Berkaitan</ion-select-option>
        <ion-select-option value="1">1</ion-select-option>
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label >Pengetahuan Sebelum </ion-label>
          <ion-select interface="popover" value="7">
            <ion-select-option value="TB">Tidak Berkaitan</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Pengetahuan Selepas </ion-label>
            <ion-select interface="popover" value="7">
              <ion-select-option value="TB">Tidak Berkaitan</ion-select-option>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
            </ion-select>
          </ion-item>
</ion-content>


