.centered-text{
    text-align:center;
}
.divider {
    display: flex;

    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}

.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;

    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}
ion-content {
   // background-image: url('');
    background-size: cover;
    text-align: center;
}

ion-img{
    width: auto;
    margin: auto;
    display: block;
}
ion-thumbnail{
    width: 100% !important;
    height: 100% !important;
    
        max-width: 100% !important;
        max-height: 100% !important;
    

}
.login-logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    margin-top: 45px;
}