<ion-header>
  <ion-toolbar>
    <!-- <ion-button slot="start" color="primary" (click)="dismissLogin()"><ion-icon slot="start" name="arrow-back"></ion-icon>Prev</ion-button>
    <ion-button slot="end" color="primary" (click)="dismissLogin()"><ion-icon slot="end" name="arrow-forward"></ion-icon>Next</ion-button> -->
  </ion-toolbar>
</ion-header>
 <ion-content>
   <ion-card>
   <ion-img class= "login-logo" src='assets/img/ilkap-logo-150h.png' alt='logo ILKAP' center></ion-img>
   <ion-card-header>
     <ion-card-subtitle>Selamat Datang</ion-card-subtitle>
     <ion-card-title>myICMAS Penilaian v1.0</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     <p>Aplikasi penilaian kursus ILKAP</p>
   </ion-card-content>
   </ion-card>
   <!-- <ion-title><h3>myICMAS Penilaian</h3></ion-title>      -->
  <div id="loginContent">
  <!-- <ion-text class="centered-text">
      <h3>Log Masuk</h3>
    </ion-text> -->
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate> 
      <ion-list>
      <!-- Input with placeholder -->
      <ion-item>
        <ion-input formControlName="username" placeholder="Nama Pengguna" type="text"></ion-input>
      </ion-item>
        <!-- Error messages -->
      <ion-text color="danger">
        <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">Nama Pengguna diperlukan.</span> -->
        <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.minlength">Nama Pengguna sepatutnya 12 aksara.</span> -->
      </ion-text>      
      </ion-list>
      <ion-list> 
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Kata Laluan" type="password" ></ion-input>
      </ion-item>
      <ion-text color="danger">
        <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">Kata Laluan diperlukan.</span> -->
        <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.pattern">Mengandungi nombor sahaja.</span> -->
        <!-- <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minLength">Kata Laluan sepatutnya 12 aksara.</span> -->
      </ion-text>      
    </ion-list>
  </form> 
    <ion-button expand="block" color="danger" type="submit"  (click)="submitForm()">Log Masuk</ion-button>
       <!-- <a onclick="window.open('https://icmas.ilkap.gov.my', 'blank', 'location=yes')"> [ Sistem ICMAS ]</a> -->
  </div>
</ion-content>