.isrequired {
    //--highlight-color-invalid: red; // invalid underline color
   // --border-color: var(--ion-color-danger, #f1453d) !important;
    --highlight-color-valid: #2dd36f !important; // valid underline color
    --highlight-background:  red ;
    //--highlight-background: #2dd36f ;
    
}






// .reserve {
//     text-align: center;
//     margin: 10px  auto 10px  auto;
//     border-bottom: 1px solid #eee;
//     line-height: 10px;
//     box-sizing: border-box;
//     display: inline-block;
//     text-align: center;
// }
.reserve {
    margin: 10px auto 10px auto;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    width : 110px;
}
.people{
    margin: 10px auto 10px 1px;
    width : 110px;
}
.people span{
    line-height: 10px;
    font-size: 16px;
    width : 20px;
}