<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="home()">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
    </ion-button><ion-title>{{ selectedSection.id }} : {{ selectedSection.name }} </ion-title>
    <ion-button *ngIf="statusEva == 0" slot="end" (click)="presentPopover($event)">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="s1Form" (ngSubmit)="submitForm()" novalidate>
    <ion-card formArrayName="s1" *ngFor="let item of s1Form.get('s1').controls; let i = index;">
      <div [formGroupName]="i">
        <ion-item lines="none">
          <ion-text><small>[{{i+1}}] {{ item.get('objective').value }}</small></ion-text>  
        </ion-item>
        <ion-item>        
          <ion-range max="7"  snaps="true" ticks="true" pin step="1" color="secondary" formControlName="valueScore">
          <!-- <ion-range [min]=“min” [max]=“max” [(ngModel)]=“salaryRange” (ngModelChange)=“setLabel()” (ionBlur)=“handleChange()” color=“secondary”> -->
            <ion-icon size="small" slot="start" name="happy-outline"></ion-icon>
            <ion-icon slot="end" name="happy-outline"></ion-icon>
          </ion-range>
        </ion-item>
        <ion-item *ngIf="!(item.get('valueScore').value <= 4 && item.get('valueScore').value != 0)"> 
          <ion-input formControlName="remarks" type="text" placeholder="Ulasan" ></ion-input>
          <!-- <ion-input formControlName="valueScore" type="text" value="{{ item.get('valueScore').value}}"></ion-input> -->
          <!-- <ion-item *ngIf="item.get('valueScore').value == 4 || item.get('valueScore').value == 3 || item.get('valueScore').value == 2 ||  item.get('valueScore').value == 1"> -->
            <span [ngSwitch]="item.get('valueScore').value" slot="end">
              <ion-badge color="medium" *ngSwitchCase="0"><small class="ion-text-wrap">Tidak Berkaitan</small></ion-badge>
              <ion-badge color="danger" *ngSwitchCase="1"><small class="ion-text-wrap">Tidak Tercapai</small></ion-badge>
              <ion-badge color="danger" *ngSwitchCase="2"><small class="ion-text-wrap">Tidak Tercapai</small></ion-badge>
              <ion-badge color="warning" *ngSwitchCase="3"><small class="ion-text-wrap">Kurang Tercapai</small></ion-badge>
              <ion-badge color="warning" *ngSwitchCase="4"><small class="ion-text-wrap">Kurang Tercapai</small></ion-badge>
              <ion-badge color="success" *ngSwitchCase="5"><small class="ion-text-wrap">Tercapai</small></ion-badge>
              <ion-badge color="success" *ngSwitchCase="6"><small class="ion-text-wrap">Tercapai</small></ion-badge>
              <ion-badge color="success" *ngSwitchDefault><small class="ion-text-wrap">Tercapai Sepenuhnya</small></ion-badge>
            </span> 
          </ion-item>     
        <ion-item *ngIf="item.get('valueScore').value <= 4 && item.get('valueScore').value != 0" class= "isrequired"> 
          <ion-input formControlName="remarks" type="text" placeholder="Ulasan"></ion-input>
        <!-- <ion-input formControlName="valueScore" type="text" value="{{ item.get('valueScore').value}}"></ion-input> -->
        <!-- <ion-item *ngIf="item.get('valueScore').value == 4 || item.get('valueScore').value == 3 || item.get('valueScore').value == 2 ||  item.get('valueScore').value == 1"> -->
          <span [ngSwitch]="item.get('valueScore').value" slot="end">
            <ion-badge color="medium" *ngSwitchCase="0"><small class="ion-text-wrap">Tidak Berkaitan</small></ion-badge>
            <ion-badge color="danger" *ngSwitchCase="1"><small class="ion-text-wrap">Tidak Tercapai</small></ion-badge>
            <ion-badge color="danger" *ngSwitchCase="2"><small class="ion-text-wrap">Tidak Tercapai</small></ion-badge>
            <ion-badge color="warning" *ngSwitchCase="3"><small class="ion-text-wrap">Kurang Tercapai</small></ion-badge>
            <ion-badge color="warning" *ngSwitchCase="4"><small class="ion-text-wrap">Kurang Tercapai</small></ion-badge>
            <ion-badge color="success" *ngSwitchCase="5"><small class="ion-text-wrap">Tercapai</small></ion-badge>
            <ion-badge color="success" *ngSwitchCase="6"><small class="ion-text-wrap">Tercapai</small></ion-badge>
            <ion-badge color="success" *ngSwitchDefault><small class="ion-text-wrap">Tercapai Sepenuhnya</small></ion-badge>
          </span> 
        </ion-item>     
          <!-- <ion-input formControlName="remarks" type="text" placeholder="Ulasan"></ion-input> -->
          <!-- Error messages -->
          <ion-text color="danger">
            <span class="error ion-padding" *ngIf="item.get('valueScore').value <= 4 && item.get('valueScore').value != 0 && item.get('remarks').value == ''">Ulasan diperlukan.</span>
            <!-- <span class="error ion-padding" *ngIf="(item.get('valueScore').value) < 5 && isSubmitted && errorControl.remarks.errors?.required">Ulasan diperlukan.</span> -->
          </ion-text>   
    </div>
    </ion-card>
    <ion-card>
      <ion-input formControlName="remarksAll" type="text" placeholder="Ulasan sekiranya terdapat objektif yang dinilai tidak tercapai" ></ion-input>
    </ion-card>
    <!-- <ion-button (click)="submit()" expand="block"><ion-icon name="chevron-forward-outline"></ion-icon></ion-button>  -->
    <ion-list>
      <ion-item no-lines>       
        <ion-button color="light" slot="end" ion-button round outline (click)="presentAlertConfirm()">
           Seterusnya
           <ion-icon name="play-outline"></ion-icon>         
        </ion-button>
      </ion-item>
    </ion-list>
  </form> 
</ion-content>

















