<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="home()">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
    </ion-button><ion-title>{{ selectedSection.id }} : {{ selectedSection.name }} </ion-title>
    <ion-button slot="end" (click)="presentPopover($event)">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="s6Form" (ngSubmit)="submitForm()" novalidate>
    <ion-card>
      <div>
        <!-- Textarea with custom number of rows and cols -->
        <ion-item>
          <ion-label position="floating">Kekuatan Kursus</ion-label>
          <ion-textarea formControlName="remarks1" rows="3" cols="20" placeholder="Apakah kekuatan kursus ini pada keseluruhannya?"></ion-textarea>
        </ion-item>
        <!-- Error messages -->
        <ion-text color="danger"  class="center">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.remarks1.errors?.required">Ulasan diperlukan.</span>
        </ion-text>      
        <ion-item>
          <ion-label position="floating">Cadangan</ion-label>
          <ion-textarea formControlName="remarks2" rows="3" cols="20" placeholder="Apakah cadangan anda untuk memperbaiki kursus ini?"></ion-textarea>
        </ion-item>
        <!-- Error messages -->
        <ion-text color="danger" class="center">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.remarks2.errors?.required">Ulasan diperlukan.</span>
        </ion-text>  
      </div>
    </ion-card>
    <ion-list>
      <ion-item no-lines>       
        <ion-button color="light" slot="end" ion-button round outline (click)="presentAlertConfirm()">
           Hantar
           <ion-icon name="play-outline"></ion-icon>         
        </ion-button>
      </ion-item>
    </ion-list>
  </form> 
</ion-content>
