<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="home()">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
    </ion-button><ion-title>{{ selectedSection.id }} : {{ selectedSection.name }} </ion-title>
    <ion-button *ngIf="statuseva == 0" slot="end" (click)="presentPopover($event)">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="s3Form">
    <ion-card formArrayName="s3" *ngFor="let item of s3Form.get('s3').controls; let i = index;">
      <div [formGroupName]="i">
        <ion-item lines="none">
          <ion-text><small>[{{i+1}}]  {{ item.get('section3').value }}</small></ion-text>  
        </ion-item>
        
        <ion-item>        
          <ion-range max="7" snaps="true" ticks="true" pin step="1" color="secondary" formControlName="valueScore">
            <ion-icon size="small" slot="start" name="happy-outline"></ion-icon>
            <ion-icon slot="end" name="happy-outline"></ion-icon>
          </ion-range>
        </ion-item>
        <!-- <ion-input formControlName="valueScore" type="text" value="{{ item.get('valueScore').value}}"></ion-input> -->
        <!-- <ion-item *ngIf="item.get('valueScore').value == 4 || item.get('valueScore').value == 3 || item.get('valueScore').value == 2 ||  item.get('valueScore').value == 1"> -->
        <ion-item>
          <span [ngSwitch]="item.get('valueScore').value" slot="end">
            <ion-badge color="medium" *ngSwitchCase="0"><small class="ion-text-wrap">Tidak Berkaitan</small></ion-badge>
            <ion-badge color="danger" *ngSwitchCase="1"><small class="ion-text-wrap">Tidak Tercapai</small></ion-badge>
            <ion-badge color="danger" *ngSwitchCase="2"><small class="ion-text-wrap">Tidak Tercapai</small></ion-badge>
            <ion-badge color="warning" *ngSwitchCase="3"><small class="ion-text-wrap">Kurang Tercapai</small></ion-badge>
            <ion-badge color="warning" *ngSwitchCase="4"><small class="ion-text-wrap">Kurang Tercapai</small></ion-badge>
            <ion-badge color="success" *ngSwitchCase="5"><small class="ion-text-wrap">Tercapai</small></ion-badge>
            <ion-badge color="success" *ngSwitchCase="6"><small class="ion-text-wrap">Tercapai</small></ion-badge>
            <ion-badge color="success" *ngSwitchDefault><small class="ion-text-wrap">Tercapai Sepenuhnya</small></ion-badge>
          </span> 
          <!-- <ion-input formControlName="remarks" type="text" placeholder="Ulasan"></ion-input> -->
          <ion-item>
          <ion-input formControlName="remarks" type="text" placeholder="Ulasan" required="{{isRequired}}" ></ion-input>
          <!-- Error messages -->
          <!-- <ng-container>
            <div *ngIf="isRequired && s1.get('remarks') == null && (s1.get('valueScore') <= 4 || s1.get('valueScore') > 1)">
              <p>Ulasan diperlukan.</p>
             </div>
           </ng-container> -->
          <ion-text color="danger">
            <span class="error ion-padding" *ngIf="isSubmitted && item.get('remarks').value == null && (item.get('valueScore').value <= 4 || item.get('valueScore').value > 1)">Ulasan diperlukan.</span>
            <!-- <span class="error ion-padding" *ngIf="(item.get('valueScore').value) < 5 && isSubmitted && errorControl.remarks.errors?.required">Ulasan diperlukan.</span> -->
          </ion-text>   
        </ion-item> 
          <!-- Error messages -->          
        </ion-item>       
      </div>
    </ion-card>
    <ion-list>
      <ion-item no-lines>       
        <ion-button color="light" slot="end" ion-button round outline (click)="submit()">
           Seterusnya
           <ion-icon name="play-outline"></ion-icon>         
        </ion-button>
      </ion-item>
    </ion-list>
  </form> 
</ion-content>
