<ion-header>
  <ion-toolbar>
    <ion-title>Status Penilaian</ion-title>
    <ion-button slot="end" (click)="logOut()">
      <ion-icon name="log-out" ></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- <p *ngFor="let item of userList">
      Welcome {{ item.username }} {{ item.password }}
  </p> -->

  <ion-list *ngFor="let item of scheduleList">
    <ion-item *ngIf="item.penilaianPesertaStatus !='1'" >
      <ion-avatar slot="start">
        <img src="./assets/img/avatar.png">
      </ion-avatar>
      <ion-label>
        <!-- <div  *ngFor="let item1 of item.schedules"> -->
          <h3> {{ item.scheduleName }} </h3>
          <p> {{ item.startDt }} - {{ item.endDt }}</p>
          <div *ngFor="let item1 of item.coordinators">
          <p> {{ item1.name}} </p>
          </div>
          <div *ngFor="let item2 of item.coordinator2s">
            <p> {{ item2.name}}</p>
          </div>
        <!-- </div> -->
      
      </ion-label>
      <ion-badge color="danger" slot="end" (click)="toSection(item)" *ngIf ="item.penilaianPesertaStatus==null"><small>Buat Penilaian</small></ion-badge>
      <ion-badge color="warning" slot="end" (click)="toSection(item)" *ngIf ="item.penilaianPesertaStatus==0"><small>Belum Selesai</small></ion-badge>
    </ion-item>   
  </ion-list>
</ion-content>
